# Learn Matrix 

# Basic Notation
Basic matrics creation in PyTorch

In [1]:
# Define all imports upfront
import torch
from torch import nn
from torch.utils.data import DataLoader
from sklearn.datasets import fetch_california_housing
from sklearn.model_selection import train_test_split

In [3]:
# Load the dataset
ca_house_data = fetch_california_housing()

In [ ]:
# Look at the data
print(ca_house_data.data.shape) # Features
print(ca_house_data.target.shape) # Predictions
print(ca_house_data.feature_names)  # Column names
print(ca_house_data.data[:2])  # First 2 rows of the data
print(ca_house_data.data.dtype)  # Data type float 64

(20640, 8)
(20640,)
['MedInc', 'HouseAge', 'AveRooms', 'AveBedrms', 'Population', 'AveOccup', 'Latitude', 'Longitude']
[[ 8.32520000e+00  4.10000000e+01  6.98412698e+00  1.02380952e+00
   3.22000000e+02  2.55555556e+00  3.78800000e+01 -1.22230000e+02]
 [ 8.30140000e+00  2.10000000e+01  6.23813708e+00  9.71880492e-01
   2.40100000e+03  2.10984183e+00  3.78600000e+01 -1.22220000e+02]]
float64

In [8]:
# Split data into training and testing
X_train, X_test, y_train, y_test = train_test_split(ca_house_data.data, ca_house_data.target,
                                                    test_size=0.2, random_state=42)
print(type(X_train), type(y_train), X_train.dtype, y_train.dtype)
print(X_train.shape, y_train.shape)
print(X_test.shape, y_test.shape)

<class 'numpy.ndarray'> <class 'numpy.ndarray'> float64 float64
(16512, 8) (16512,)
(4128, 8) (4128,)

In [9]:
import pandas as pd
ca_df = pd.DataFrame(ca_house_data.data, columns=ca_house_data.feature_names)
ca_df['prices'] = ca_house_data.target
ca_df.describe()

             MedInc      HouseAge  ...     Longitude        prices
count  20640.000000  20640.000000  ...  20640.000000  20640.000000
mean       3.870671     28.639486  ...   -119.569704      2.068558
std        1.899822     12.585558  ...      2.003532      1.153956
min        0.499900      1.000000  ...   -124.350000      0.149990
25%        2.563400     18.000000  ...   -121.800000      1.196000
50%        3.534800     29.000000  ...   -118.490000      1.797000
75%        4.743250     37.000000  ...   -118.010000      2.647250
max       15.000100     52.000000  ...   -114.310000      5.000010

[8 rows x 9 columns]